* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-azure {
    background-color: #8EDAFC;
}

.text-azure {
    color: #8EDAFC;
}

.row:first-child {
    background-color: #EAEAEA;
}

header {
    height: 100px;
    background-color: #3B9688;
}

#app {

    background-color: #D7DBD6;
    width: 100vw;
    height: 100vh;
}

.container {
    margin-top: -80px;
    width: 90vw;
    height: 90vh;

}

.userAvatar img {
    margin: 12px 0;
    width: 50px;
    height: 50px;
}

.contact {
    background-color: #FFFFFF;
    position: relative;
    cursor: pointer;
}

.contact:hover {
    background-color: #E9EBEB;
}

.lastAccess {
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.lastMessage {
    font-size: 12px;
}

.icon {
    line-height: 40px;
    width: 40px;
    height: 40px;
}

.background {

    background-image: url(../img/mine.jpg);
    background-size: contain;
    background-repeat: repeat;
}

.footer {

    background-color: #EAEAEA;
    position: absolute;
    bottom: 0;
    align-items: center;
}

.col-8 {
    position: relative;
}

.sent {
    position: absolute;
    top: 100px;
    left: 0;
    width: 25%;
    margin: 40px;
    padding: 10px;
    border-radius: 5px;
    filter: drop-shadow(3px 3px 3px rgb(133, 133, 133));
    background-color: white;
    color: black;
}

.received {
    width: 25%;
    border-radius: 5px;
    filter: drop-shadow(3px 3px 3px rgb(133, 133, 133));
    position: absolute;
    margin: 40px;
    padding: 10px;
    top: 0;
    right: 0;
    background-color: lightgreen;
    color: black;
}

.fa-face-smile,
.fa-play {

    color: #6B7477;
    padding: 0 20px;

}

